<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>Englsih</string>
    <key>CFBundleExectutable</key>
    <string>catchaThiefSettings</string>
    <key>CFBundleIdentifier</key>
    <string>com.jakeajames.catchathiefsettings</string>
    <key>CFBundleInfoDisctionaryVersion</key>
    <string>6.0</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>MiniumOSVersion</key>
    <string>3.0</string>
    <key>NSPrincipalClass</key?
    <string>catchaThiefSettingsListController</string>
</dict>
</plist>
